<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<form class="container" name="myform" novalidate="novalidate">
    <div class="form-group">
        <label for="email" class="control-label">邮箱</label>
        <input id="email" type="email" ng-model="email" class="form-control" name="email" ng-required="true">
    </div>
    <div class="alert alert-danger" ng-show="myform.email.$error.email">邮箱不合法</div>

    <div class="form-group">
        <label for="password" class="control-label">密码</label>
        <input id="password" type="password" ng-model="password" class="form-control" name="password" ng-required="true" ng-pattern="/^\d+$/" ng-minlength="4" ng-maxlength="6">
    </div>
    <div class="alert alert-danger" ng-show="myform.password.$error.pattern">正则不匹配</div>
    <div class="alert alert-danger" ng-show="myform.password.$error.minlength||myform.password.$error.maxlength">密码长度</div>
    <div class="alert alert-danger" ng-show="myform.email.$error.required&&myform.email.$dirty">此项必填</div>
    <div class="form-group">
        <button class="btn btn-primary" ng-disabled="myform.$invalid">提交</button>
    </div>
</form>
<pre>{{myform | json}}</pre>
<script src="angular.js"></script>
<script>
    //想使用angular的表单验证，需要关闭掉h5自带的验证

    var app = angular.module('appModule',[]);

</script>
</body>
</html>