<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body  ng-controller="carCtrl">
欢迎进入书店管理 <br>
根据id查询 <br>
<input type="text" ng-model="query" ng-model-options="{debounce:1000}"> <br>
<ul class="list-group">
    <li class="list-group-item">书的名字{{book.name}}</li>
    <li class="list-group-item">书的价格{{book.id}}</li>
</ul>
<table class="table table-bordered" >
    <tr>
        <td>书的名字</td>
        <td>书的价格</td>
        <td>书的数量</td>
        <td>小计</td>
        <td colspan="2">操作</td>
    </tr>
    <tr ng-repeat="book in books track by $index">
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        <td>{{book.count}}</td>
        <td>{{book.count*book.price}}</td>
        <td><button class="btn btn-danger" ng-click="del(book)">删除</button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">
            修改
        </button></td>
    </tr>
</table>







<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<script src="angular.js"></script>
<script src="angular-resource.js"></script>
<script src="jquery.js"></script>
<script src="bootstrap.js"></script>
<script>
    var app = angular.module('appModule',['ngResource']);

    /*'get': {method: 'GET'}, get是获取一个数据 {}
    'save': {method: 'POST'}, 保存
    'query': {method: 'GET', isArray: true}, 查询所有
    'remove': {method: 'DELETE'}, 删除
    'delete': {method: 'DELETE'}
    update:{method:'put'}
    */
    //GET /book
    //GET /book?id=1 /book/1
    //DELETE /book/1
    //PUT /book/1
    app.factory('book',function ($resource) {
        return $resource('/book/:id',null,{
            update:{
                method:'PUT'
            }
        });
    });
    app.controller('carCtrl',function ($scope,$http,book) {
        $scope.books = book.query();//会默认发送get请求后面没有id
        $scope.book = {};
        $scope.$watch('query',function (newVal,oldVal) {
            //query变化后，根据变换的值查询对应的数据，绑定在页面上
            if(newVal){
                $scope.book =  book.get({id:newVal});
            }
        });
        $scope.del = function (b) {
           // 删除某一个需要传入id，他会自动寻找那一项拼在/book/id；
            book.delete(b).$promise.then(function () {
                $scope.books = book.query(); //删除完再进行调用
            });
        }
    });
    /*$http.get('/book').success(function (data) { //promise对象
     $scope.books = data;
     });*/
    // /book  /remove
    //RESTful  通过方法名发送不同的请求并且路径相同
</script>
</body>
</html>